#include "resource.h"
#include <windows.h>

IDI_MYICON ICON "AppIcon.ico"

// Recursos de diálogo
//IDD_MYDIALOG DIALOGEX 0, 0, 300, 200
//STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
//CAPTION "Seleccionar Archivo"
//FONT 8, "MS Shell Dlg"
//BEGIN
//    // Aquí puedes agregar controles como botones, listas, etc.
//    DEFPUSHBUTTON "Seleccionar", IDOK, 100, 50, 80, 14
//    PUSHBUTTON    "Cancelar", IDCANCEL, 200, 50, 80, 14
//END